params {
    outdir                      = '/mnt/workflow/pubdir'
    publishDir                  = '/mnt/workflow/pubdir'
    workflow                    = 'BOTH'
    add_vcf_file                = "s3://dev-wslh-healthomics-cdd-genomics-databases/mycosnp/references/reference_comparators.csv"
    gambit_db                   = "s3://dev-wslh-healthomics-cdd-genomics-databases/mycosnp/gambit_db/gambit-fungal-metadata-1.0.0-20241213.gdb"
    gambit_h5_dir               = "s3://dev-wslh-healthomics-cdd-genomics-databases/mycosnp/gambit_db/signatures/"
    subtype_db                  = "s3://dev-wslh-healthomics-cdd-genomics-databases/mycosnp/sourmash_db/"
    snpeffconfig                = "s3://dev-wslh-healthomics-cdd-genomics-databases/mycosnp/snpeffdb/"
    fasta                       = "s3://dev-wslh-healthomics-cdd-genomics-databases/mycosnp/references/GCA_016772135.1_ASM1677213v1_genomic.fna"
    closest_accession_map_file  = "s3://dev-wslh-healthomics-cdd-genomics-databases/mycosnp/c_auris_ncbi/mapped_IDs_S3.tsv"
    snpeffconfig                = "s3://dev-wslh-healthomics-cdd-genomics-databases/mycosnp/snpeffdb/"
    skip_phylogeny              = true
    snpeff                      = true
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    nextflowVersion = '!>=23.10.0'
}

conda {
    enabled = false
}

docker {
    enabled = true
}