params {
    ecr_registry = ''
    outdir = '/mnt/workflow/pubdir'
}
manifest {
    nextflowVersion = '!>=23.10'
}
conda {
    enabled = false
}

process {
withName: '.*' { conda = null }
withName: '(.+:)?MUMMER'    { container = 'biocontainers/mummer:3.23--pl5262h1b792b2_12' }
withName: '(.+:)?PYTHON'    { container = 'biocontainers/python:3.8.3' }
withName: '(.+:)?GATK'      { container = 'biocontainers/gatk4:4.2.5.0--hdfd78af_0' }
withName: '(.+:)?PANDAS'    { container = 'biocontainers/pandas:1.5.2' }
withName: '(.+:)?QUICKSNP'  { container = 'staphb/quicksnp:1.0.1' }
withName: '(.+:)?PERL'      { container = 'biocontainers/perl:5.22.2.1' }
withName: '(.+:)?SEQTK'     { container = 'biocontainers/seqtk:1.3--h5bf99c6_3' }
withName: '(.+:)?SNPEFF'    { container = 'biocontainers/snpeff:5.0--hdfd78af_1' }
withName: '(.+:)?SNPEFF'    { container = 'biocontainers/snpeff:4.3.1t--hdfd78af_5' }
withName: '(.+:)?SNPEFFR'   { container = 'cdcgov/snpeffr:master' }
withName: '(.+:)?BCFTOOLS'  { container = 'biocontainers/bcftools:1.14--h88f3f91_0' }
withName: '(.+:)?MULLED'    { container = 'biocontainers/mulled-v2-5f89fe0cd045cb1d615630b9261a1d17943a9b6a:6a9ff0e76ec016c3d0d27e0c0d362339f2d787e6-0' }
withName: '(.+:)?SRA-TOOLS' { container = 'biocontainers/sra-tools:2.11.0--pl5262h314213e_0' }
withName: '(.+:)?SCIPY'     { container = 'biocontainers/scipy:1.1.0' }

}

docker {
    enabled = true
    registry = '<account-id>.dkr.ecr.<region>.amazonaws.com'
}