params {
    outdir                      = '/mnt/workflow/pubdir'
    workflow                    = 'BOTH'
    add_vcf_file                = "s3://dev-wslh-healthomics-cdd-genomics-databases/mycosnp/references/reference_comparators.csv"
    gambit_db                   = "s3://dev-wslh-healthomics-cdd-genomics-databases/mycosnp/gambit_db/gambit-fungal-metadata-1.0.0-20241213.gdb"
    gambit_h5_dir               = "s3://dev-wslh-healthomics-cdd-genomics-databases/mycosnp/gambit_db/signatures/"
    subtype_db                  = "s3://dev-wslh-healthomics-cdd-genomics-databases/mycosnp/sourmash_db/"
    snpeffconfig                = "s3://dev-wslh-healthomics-cdd-genomics-databases/mycosnp/snpeffdb/"
    fasta                       = "s3://dev-wslh-healthomics-cdd-genomics-databases/mycosnp/references/GCA_016772135.1_ASM1677213v1_genomic.fna"
    snpeffconfig                = "s3://dev-wslh-healthomics-cdd-genomics-databases/mycosnp/snpeffdb/"
    skip_phylogeny              = true
    snpeff                      = true
}

timeline {
    enabled = true
    file    = "/mnt/workflow/pubdir/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file    = "/mnt/workflow/pubdir/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file    = "/mnt/workflow/pubdir/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file    = "/mnt/workflow/pubdir/pipeline_info/pipeline_dag.html"
}

manifest {
    nextflowVersion = '!>=23.10'
}

conda {
    enabled = false
}

docker {
    enabled = true
}